.editor {
   &.container {
      min-width: 550px;
      min-height: 450px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      border-radius: 8px;
      box-shadow: 2px 1px 14px $light-blue;
      padding: 1rem;

      .header {
         display: flex;
         gap: 30px;
         overflow-x: auto;
         border-bottom: 1px solid $light-blue;
         font-size: 1.1rem;
         padding-bottom: 15px;
            font-weight: 500;
            cursor: pointer;

         .section {
            padding: 10px;
            border-bottom: 2px solid transparent;
            font-weight: 500;
            font-size: 1rem;
            white-space: nowrap;
            transition: $transition;
         }
         :hover {
            color: $primary;
            border-bottom: 2px solid $light-blue;
         }
         .active {
            color: $primary;
            cursor: pointer;
            border-bottom: 2px solid $light-blue;
         }
         
      }
      
   }
}