.header {
   &.container {
      display: flex;
      justify-content: space-evenly;
      text-align: center;
      width: 100%;
      gap: 30px;
      padding: 6rem 30px;
      background-color: $light-bg;

      .heading {
         margin: 0 auto;
         max-width: 500px;
         color: $dark;
         font-size: 3.1rem;
         font-weight: bold;
         line-height: 4.1rem;
         letter-spacing: 1px;
         
         span {
            background-clip: text;
            background-image: linear-gradient(to right, $primary, $accent);
            color: transparent;
         }
      }
      
      .right {
         img {
            width: 400px;
         }
      }
   }
}