/*======== FAMILY FONTS ========*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800&display=swap");
:root {
  /*====== TOASTIFY ======*/
  --toastify-color-error: #f3b1c7 !important;
  --toastify-color-progress-light: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #f3b1c7
  );
}

/********* VARIABLES *********/
/*=============== BASE ===============*/
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
}

body {
  max-width: 100vw;
  max-height: 100vh;
  line-height: 1.7;
}

::-moz-selection {
  color: hsl(0deg, 0%, 100%);
  background-color: rgb(187, 225, 247);
  border-radius: 0.2em;
  padding: 0.125rem 0.5rem;
}

::selection {
  color: hsl(0deg, 0%, 100%);
  background-color: rgb(187, 225, 247);
  border-radius: 0.2em;
  padding: 0.125rem 0.5rem;
}

::-moz-selection {
  color: hsl(0deg, 0%, 100%);
  background-color: rgb(187, 225, 247);
  border-radius: 0.2em;
  padding: 0.125rem 0.5rem;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d_flex {
  display: flex;
  justify-content: space-between;
}

.grid {
  display: grid;
  place-items: center;
}

.d-grid {
  display: grid;
}

.col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.col-6 {
  grid-template-columns: repeat(6, 1fr);
}

.row-2 {
  grid-template-rows: repeat(2, 1fr);
}

.mg-auto {
  margin: 0 auto;
}

.text-dark {
  color: rgb(0, 0, 0);
}

a {
  text-decoration: none;
  color: rgb(35, 156, 226);
}

li {
  list-style: none;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.header.container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  padding: 4rem 30px;
  background-color: rgb(238, 252, 255);
}
.header.container .left {
  padding-top: 2.5rem;
}
.header.container .left .heading {
  padding-top: 1rem;
  margin: 0 auto;
  max-width: 500px;
  color: rgb(0, 0, 0);
  font-size: 3.1rem;
  font-weight: bold;
  line-height: 4.1rem;
  letter-spacing: 1px;
  text-shadow: 1px 0.1rem rgb(187, 225, 247);
}
.header.container .left .heading span {
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(to right, rgb(35, 156, 226), rgb(19, 105, 185), rgb(19, 105, 185), rgb(35, 156, 226));
  color: transparent;
  text-shadow: none;
}
.header.container .right img {
  width: 440px;
}

.body.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  gap: 30px;
  padding: 30px;
}
.body.container .heading {
  font-weight: bold;
  font-size: 2.1rem;
  text-shadow: 1px 1px 1px rgb(187, 225, 247);
}
.body.container .toolbar {
  width: 100%;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}
.body.container .toolbar button {
  padding: 10px 16px;
  border-radius: 5px;
  background-color: rgb(35, 156, 226);
  color: rgb(255, 255, 255);
  outline: none;
  border: none;
  display: flex;
  gap: 6px;
  font-weight: 500;
  font-size: 1.1rem;
  align-items: center;
  letter-spacing: 1px;
  cursor: pointer;
}
.body.container .toolbar button svg {
  height: 20px;
  width: 20px;
}
.body.container .colors {
  display: flex;
  gap: 20px;
  padding: 0 30px;
}
.body.container .colors .color {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: rgb(35, 156, 226);
}

.editor.container {
  min-width: 550px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 8px;
  box-shadow: 2px 1px 14px rgb(187, 225, 247);
  padding: 1rem;
}
.editor.container .header {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  border-bottom: 1px solid rgb(187, 225, 247);
  font-size: 1.1rem;
  padding-bottom: 15px;
  font-weight: 500;
  cursor: pointer;
}
.editor.container .header .section {
  padding: 10px;
  border-bottom: 2px solid transparent;
  font-weight: 500;
  font-size: 1rem;
  white-space: nowrap;
  transition: all 400ms ease;
}
.editor.container .header :hover {
  color: rgb(35, 156, 226);
  border-bottom: 2px solid rgb(187, 225, 247);
}
.editor.container .header .active {
  color: rgb(35, 156, 226);
  cursor: pointer;
  border-bottom: 2px solid rgb(187, 225, 247);
}

.inputCtrl.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.inputCtrl label {
  font-weight: 500;
  font-size: 1rem;
}
.inputCtrl input {
  border: 1px solid #cccccc;
  outline: none;
  padding: 10px 12px;
  font-size: 1rem;
  border-radius: 5px;
}
.inputCtrl input:hover {
  border: 1px solid #adadad;
}
.inputCtrl input:focus {
  border: 1px solid --primary;
}/*# sourceMappingURL=styles.css.map */